.color-8 {
    background-color: #10002B
}

.color-7 {
    background-color: #240046
}

.color-6 {
    background-color: #3C096C
}

.color-5 {
    background-color: #5A189A
}

.color-4 {
    background-color: #7B2CBF
}

.color-3 {
    background-color: #9D4EDD
}

.color-2 {
    background-color: #C77DFF
}

.color-1 {
    background-color: #E0AAFF
}